form(method="post")
    label(for="name") name
    br
    input(type="text", name="name")
    br
    label(for="email") email
    br
    input(type="text", name="email")
    br
    input(type="submit", value="create user")